/* .header-style {
    background-image: url("../images/cover2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    /* opacity: .1; */


/* } */


/* 
.header-style {
    height: 700px;
    display: block;
    position: relative;
}

.header-style ::after {
    content: "";
    background-image: url("../images/cover2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

.header-style-head {
    overflow: hidden;
    position: relative;
}

.headerbg {
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
}

.header-style {
    position: relative;
}